<h1>Edit <%= @contact.full_name %></h1>

<% form_for @contact, :html => {:multipart => true} do |f| -%>
  
  <%= f.hidden_field '_rev' %>
  
  <p><%= f.label :first_name %>
  <%= f.text_field :first_name %></p>
  
  <p><%= f.label :last_name %>
  <%= f.text_field :last_name %></p>
  
  <p><%= f.label :address %><br />
  <%= f.text_area :address, :rows => 4 %></p>

  <%= f.label :attachment %>
  <%= f.file_field :attachment %>

  <p><%= f.submit :save %></p>
  
<% end -%>

<% if @contact._attachments -%>
  <h2>Attachments</h2>
  <% @contact._attachments.each do |attachment_name, attachment_attributes| -%>
    <% if %w(image/jpeg image/png).include?(attachment_attributes['content_type']) -%>
      <% link_content = image_tag(attachment_contact_path(:id => @contact, :filename => attachment_name), :width => '200') -%>
    <% else -%>
      <% link_content = attachment_name -%>
    <% end -%>
    <%= link_to(link_content,
      attachment_contact_path(:id => @contact, :filename => attachment_name), :popup => true) %>
  <% end -%>
<% end -%>

