<h1>Edit <%= @contact.full_name %></h1>

<% form_for @contact do |f| -%>
  
  <%= f.hidden_field '_rev' %>
  
  <p><%= f.label :firstname %>
  <%= f.text_field :firstname %></p>
  
  <p><%= f.label :lastname %>
  <%= f.text_field :lastname %></p>
  
  <p><%= f.label :address %><br />
  <%= f.text_area :address, :rows => 4 %></p>

  <p><%= f.submit :save %></p>
  
<% end -%>
