<h1>New contact</h1>

<% form_for @contact do |f| -%>
  
  <p><%= f.label :firstname %>
  <%= f.text_field :firstname %></p>
  
  <p><%= f.label :lastname %>
  <%= f.text_field :lastname %></p>
  
  <p><%= f.label :address %><br />
  <%= f.text_area :address, :rows => 4 %></p>

  <p><%= f.submit :create %></p>
  
<% end -%>
